<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076896286143-ssehcrmjead86mtcv57e0uacijqtcgl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076896286143-ssehcrmjead86mtcv57e0uacijqtcgl0</string>
	<key>API_KEY</key>
	<string>AIzaSyBfMRA_-YrJ3EFSfKa5__2ViZFqQ0ttO48</string>
	<key>GCM_SENDER_ID</key>
	<string>1076896286143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.garden.green.store.app</string>
	<key>PROJECT_ID</key>
	<string>gardengree-2b915</string>
	<key>STORAGE_BUCKET</key>
	<string>gardengree-2b915.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076896286143:ios:4bf462b2733c85ce554d0a</string>
	<key>DATABASE_URL</key>
	<string>https://gardengree-2b915-default-rtdb.firebaseio.com</string>
</dict>
</plist>